::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #272527;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #696a6b;
}

::-webkit-scrollbar-thumb:active {
  background: #434242;
}

body {
  background-color: #333;
}

div h1 {
  color: white;
  font-weight: 800;
}

div p {
  color: white;
}

div h2,
h3 {
  font-weight: 700;
}

div a {
  color: #79b0e0;
  text-decoration: none;
}

div a:hover {
  color: #b4e5f7;
  font-weight: 400;
}
